{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <!-- site content
    ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{% static 'images/thumbs/about/about-1000.jpg' %}" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Hello, We Are TypeRite.
                        </h1>
                    </div> <!-- end content__page-header -->

                    <h2>This Is Our Story</h2>

                    

                    <hr>

                    <div class="row block-large-1-2 block-tab-full">
                        <div class="column">
                            <h4>Who We Are.</h4>
                            <p>We are a group of enthusiastic youngsters who write and share blogs related to Technology,News, sports and other topics.</p>
                        </div>

                        <div class="column">
                            <h4>Our Mission.</h4>
                            <p>Providing people with the latest updates on different topics and sharing useful blogs for enhancement of knowlegde is the main mission of Typerite.We encourage people to write blogs and take part in active discussion. </p>
                        </div>

                        <div class="column">
                            <h4>Our Vision.</h4>
                            <p>We aim to build courage,respect and confidence among the people who read the blogs actively and provide them with a good content so that other people take interest in reading blogs.</p>
                        </div>

                        <div class="column">
                            <h4>Our Core Values.</h4>
                            <p>Four core values have been the centre of Typerite.They are Integrity,Unity,Courage and Curiosity.With all these four core values toghether, one can attain the peak in life.</p>
                        </div>

                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->
{% endblock content %} 