{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{% static 'images/thumbs/contact/contact-1000.jpg' %}"  alt="">
                        </div>
                    </div>
                    {% if message_name %}
                    <div>
                        <h2>Hey - {{message_name }} </h2>
                        <p>Thank you for sending mail.We will get back to you soon.</p>
                    </div>

                    {% else %}

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Get In Touch.
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                    Typerite allows its audience to give useful suggestions and opinions on how we can improve ourselves.
                    Any queries related to blog content can be asked.At Typerite, we make sure our facilities meet the 
                    requirements of all people.
                    </p>

                    <p>
                    Below are the deatils of our organization.You can contact us via email or phone-number.Plaese feel free to 
                    contact us.
                    </p>

                    <div class="row">
                        <div class="column large-six tab-full">
                            <h4>Where to Find Us</h4>
    
                            <p>
                            1600 Amphitheatre Parkway<br>
                            Mountain View, CA<br>
                            94043 US
                            </p>
    
                        </div>
    
                        <div class="column large-six tab-full">
                            <h4>Contact Info</h4>
    
                            <p>sayhello@typerite.com<br>
                            info@typerite.com <br>
                            Phone: +197 543 2345
                            </p>
    
                        </div>
                    </div>

                    <h3 class="h2"> Contact Form - {{message_name}}</h3>
        
                    <form name="contactForm" id="contactForm" method="post" action="{% url 'contact' %}" autocomplete="off">
                        {% csrf_token %}
                        <fieldset>
    
                            <div class="form-field">
                                <input name="cName" id="cName" class="full-width" placeholder="Your Name" value="" type="text">
                            </div>
    
                            <div class="form-field">
                                <input name="cEmail" id="cEmail" class="full-width" placeholder="Your Email" value="" type="text">
                            </div>
    
                            <div class="message form-field">
                                <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                            </div>
    
                            <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Send Message" type="submit">
    
                        </fieldset>
                    </form> <!-- end form -->


                </section>
            {% endif %}

            </main>

        </div> <!-- end s-content -->
{% endblock content %} 